<!doctype html>
<html lang="en">

<head>

  {% include 'Head.html' %}

</head>

<body>

    <!--====== HEADER PART ENDS ======-->

    <!--====== SEARCH BOX PART START ======-->

    <div class="search-box">
        <div class="serach-form">
            <div class="closebtn">
                <span></span>
                <span></span>
            </div>
            <form action="#">
                <input type="text" placeholder="Search by keyword">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div> <!-- serach form -->
    </div>

    <!--====== SEARCH BOX PART ENDS ======-->

    <!--====== PAGE BANNER PART START ======-->

    <section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8"
        style="background-image: url(images/page-banner-3.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>Our Team</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Our Team</li>
                            </ol>
                        </nav>
                    </div> <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== PAGE BANNER PART ENDS ======-->

    <!--====== TEACHERS PART START ======-->

    <section id="teachers-page" class="pt-60 pb-120 gray-bg">

    <!-- Chatbox -->
    <div class="chatbox" id="chatbox">
        <div class="header">
            <h2>FAQ Chatbot</h2>
            <button id="minimize-btn" onclick="toggleChatbox()">-</button>
        </div>
        <div class="messages">
            <!-- Chat messages will be displayed here -->
        </div>
        <div class="input-box">
            <input type="text" id="user-input" placeholder="Ask a question...">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
    </section>

    <!--====== TEACHERS PART ENDS ======-->

    <!--====== FOOTER PART START ======-->
    {% include 'Footer.html' %}

</body>

</html>
