<!doctype html>
<html lang="en">

<head>

  {% include 'Head.html' %}

</head>
  {% include 'Header.html' %}

<body>

    <!--====== HEADER PART ENDS ======-->

    <!--====== SEARCH BOX PART START ======-->

    <div class="search-box">
        <div class="serach-form">
            <div class="closebtn">
                <span></span>
                <span></span>
            </div>
            <form action="#">
                <input type="text" placeholder="Search by keyword">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div> <!-- serach form -->
    </div>

    <!--====== SEARCH BOX PART ENDS ======-->

    <!--====== PAGE BANNER PART START ======-->

    <section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8"
        style="background-image: url(images/page-banner-3.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>Our Team</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Our Team</li>
                            </ol>
                        </nav>
                    </div> <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== PAGE BANNER PART ENDS ======-->

    <!--====== TEACHERS PART START ======-->

 <div id="chatbot">
        <div id="chat-header">
            <div id="chat-icon" onclick="toggleChat()">🤖</div>
        </div>
        <div id="chat-body">
            <div id="chat-content">
                <!-- Initial Hello message -->
                <div class="chatbot-message">
                    <div class="message-content">
                        Hello! How can I assist you today?
                    </div>
                </div>
            </div>
            <div id="user-input">
                <input type="text" id="user-message" placeholder="Type your question...">
                <button onclick="askQuestion()">Ask</button>
            </div>
        </div>
    </div>
    <!--====== TEACHERS PART ENDS ======-->

    <!--====== FOOTER PART START ======-->
    {% include 'Footer.html' %}

      <!--====== Chatbot js ======-->
   <script src="{{url_for('static', filename='js/chatbot.js')}}"></script>

</body>

</html>
